@font-face {
  font-family: "bebas___-webfont";
  src: url("fonts/bebas___-webfont.eot");
  src: url("fonts/bebas___-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/bebas___-webfont.woff") format("woff"),
    url("fonts/bebas___-webfont.ttf") format("truetype"),
    url("fonts/bebas___-webfont.woff2") format("woff2"),
    url("fonts/bebas___-webfont.svg#abuget-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

/* 
.container {
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto
 }
 @media (min-width:576px) {
  .container {
   max-width:540px
  }
 }
 @media (min-width:768px) {
  .container {
   max-width:720px
  }
 }
 @media (min-width:992px) {
  .container {
   max-width:960px
  }
 }
 @media (min-width:1200px) {
  .container {
   max-width:1140px
  }
 }


.w-100 {
    width: 100%;
  }
  
  .h-100{
      height:100%;
      
      .position-absolute {
          position: absolute;
        }
        .position-relative {
            position: relative;
        }
    } */

body {
  margin-left: 0px;
  font-family: bebas___-webfont;
  color: #ffffff;
  size: 30px;
}

.lefttitle,
.righttitle {
  max-width: calc(100% - 3em);
}

@media (min-width:576px) {
  .lefttitle,
  .righttitle {
    max-width: calc(100% - 30em);
  }
}

h2 {
  font-family: bebas___-webfont;
  color: #414141;
  size: 50px;
}

.bottom {
  bottom: 0;
}
.top {
  top: 0;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.bg-primary {
  background-color: #919191 !important;
}

.bg-light {
  background-color: #c9c9c9 !important;
}

.z-index-minus {
  z-index: -1;
}

.shift-down {
  margin-top: 200px;
}

.shift-up {
  transform: translateY(-200px);
}

ul {
  padding: 0;
}

.section3 {
  text-align: right;
}
#portrait {
  transition: margin-top .6s ease;
}
.shifted {
  margin-top: 10em;
}

.drawing {
  height: 100vh;
  
}
.drawing img {
  max-width: 400px;
} 

h1,
.h1 {
  font-size: 2.5rem;
  color: #414141;
}

h1,
h2,
h4,
h5 {
  word-spacing: 0.2em;
}

p {
  word-spacing: 0.2em;
}
.upscale {
  transition: transform 0.1s ease;
}
.upscale:hover {
  transform: scale(1.1);
}

#contact {
  display: inline-block;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 70%;
  height: -50%;
  text-align: right;
}

